*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background: #24292e;
}

body {
    color: #f0f0f0;
    background: #24292e;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*                         Global Classes                          */

.container { margin: 0 7%; }

.center { text-align: center; }

section { padding: 5.5rem 0; }

.section__header {
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: .3rem;
    transition: all .1s;
    margin-bottom: 1.4rem;
}

.section__header:hover {
    transform: skewY(3deg);
    text-shadow: .5rem 1rem 2rem rgba(119, 118, 118, 0.2)
}

li { list-style: none; }

a { 
    text-decoration: none; 
    color: #f0f0f0;
}

.btn,
.btn:link,
.btn:visited {
    padding: 1.5rem 1.8rem;
    color: #f0f0f0;
    display: block;
    background-image: linear-gradient(to right bottom, #c72c41, #801336);
    box-shadow: 0px .2rem .5rem #272727;
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .4s;
}
.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 4rem;
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /* background: transparent; */
    background-image: linear-gradient(to right bottom, #c72c41, #801336);
    box-shadow: 0px .2rem .5rem #272727;
    color: #f0f0f0;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background .8s ease-in-out;
}

.top-btn { 
    height: 2px; 
    background-color: #f0f0f0;
    margin-left: 1.2rem;
}

#btn1,
#btn2 {
    width: 1.4rem;
}

#btn1 { transform: rotateZ(-40deg); }

#btn2 {
    transform: rotateZ(40deg);
    margin-left: 2.2rem;
    margin-top: -.2rem;
}

/*          Btn Animations            */

.btn-entrance {
    animation-name: btn-entrance;
    animation-fill-mode: both;
    animation-duration: 0.5s;
}

@keyframes btn-entrance {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 1;
    }
}

.btn-exit {
    animation-name: btn-entrance;
    animation-fill-mode: both;
    animation-duration: 0.5s;
}

@keyframes btn-exit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale3d(0.3, 0.2, 0.1);
    }
}

/*                               Navigation                      */

.navigation__brand { margin-top: 3.5rem; }

.navigation__brand h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 6rem;
}

.navigation .navigation__btn {
    background-color: #f0f0f0;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2000;
    text-align: center;
}

.navigation .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: linear-gradient( to right bottom, #c72c41, #801336);
    z-index: 999;
    transition: transform .8s cubic-bezier(0.87, 0, 0.02, 1.1);
}

.navigation .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.2, 1.5);
}

.navigation .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation .navigation__item { margin: 1.8rem 0; }

.navigation .navigation__link:link,
.navigation .navigation__link:visited {
    display: inline-block;
    font-size: 2.3rem;
    font-weight: 300;
    padding: .5rem 2rem;
    color: #f0f0f0;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f0f0f0 50%);
    background-size: 220%;
    transition: all .5s
}

.navigation .navigation__link:hover,
.navigation .navigation__link:active {
    background-position: 100%;
    color: #991f45;
    transform: translateX(.2rem);
}

.navigation { position: relative; }

.bar { 
    height: 2px; 
    background-color: #801336;
    margin-top: 2.5rem;
    margin-left: 1rem;
}

#bar2{ width: 3rem; }

#bar1,
#bar3 {
    width: 2.4rem;
    position: absolute;
    left: .15rem;
    transition: all .3s;
}

#bar1 { top: -.8rem; }

#bar3 { top: .8rem; }

.open { transform: scale(140); }

.menu.navigation__nav {
    opacity: 1;
    width: 100%;
}

.change #bar2 { background: transparent; }
.change #bar3 {
    top: 0;
    transform: rotate(-45deg);
}
.change #bar1 {
    top: 0;
    transform: rotate(45deg);
}

/*                             Header or Introduction                      */

.header { height: 80vh; }

.header__container-flex {
    display: flex;
    justify-content: space-between;
}

.header__container { margin-top: 12rem; }

.header__img-container { 
    margin-top: -9rem;
    margin-left: -2rem;
}

.header__text-small {
    display: block;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 1.5rem 0;
}

.header__text-big {
    display: block;
    font-size: 4rem;
}


/*                                 About                                  */

.about__container {
    display: flex;
    align-items: center;
    margin: 0 7%;
}

.about__text p:not(:first-child) {
    margin: 3rem 0;
}

.about__text p{
    font-size: 1.7rem;
    line-height: 2.5rem;
}

/*                               Projects                                 */

.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
}

.projects__card {
    height: 35rem;
    width: 30rem;
    background: #283036;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
}

.projects__card:hover {
    transform: translateY(-1.5rem);
}

.projects__card-links {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem 1.2rem 0;
}

.projects__card-links a {
    font-size: 2.5rem;
    margin: 0 .5rem;
    text-align: center;
    transition: transform .5s;
}

.projects__card-links a:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 .2rem .7rem rgba(70, 70, 70, .3);
}

.projects__card-title {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
}

.projects__card-item { display: flex; }

.projects__card-list {
    margin: 0 .7rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ccc;
}


/*                                Contact                                 */

.contact__header {
    text-align: center;
    margin-bottom: 2rem;
}

.contact__text h4 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1.8rem;
}

.form__group:not(:last-child) { margin-bottom: .8rem; }

.form__input { padding: 1.1rem 1.5rem; }

textarea,
.form__input {
    display: block;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 4px;
    color: inherit;
    border: none;
    background-color: #283036;
    border-bottom: 3px solid transparent;
    width: 50%;
    margin-left: 25%;
}

textarea { padding: 1.7rem; }

.form__input:focus { box-shadow: 0 1rem 2rem #272727; }

.form .btn {
    width: 10%;
    margin-left: 45%;
    margin-top: 1.5%;
}

textarea:focus,
.form__input:focus {
    outline: none;
    border-bottom: 3px solid #067906;
}

textarea:focus:invalid,
.form__input:focus:invalid {
    border-bottom:3px solid #801336;
}

.form__input::webkit-input-placeholder { color: #ccc; }

.form__label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 4px;
    display: none;
    transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}


/*                                   Footer                            */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 2rem;
}

.footer__text {
    font-size: 1.2rem;
    color: #999;
}

.footer__social-items {
    display: flex;
    align-items: center;
}

.footer__social-list {
    padding: 0 1.2rem;
    transition: all .5s;
}

.footer__social-list:hover { transform: scale(1.3); }

.footer__social-links:link,
.footer__social-links:visited {
    font-size: 2.3rem;
}

/*                             Media Queries                              */

@media all and (max-width: 768px) {

    section { padding: 7rem 0; }

    .header__container-flex { justify-content: center; }

    .header__container { margin-top: 9rem; }

    .header__img-container img { display: none; }

    .header__text-small { font-size: 1.8rem; }
    
    .header__text-big { font-size: 3.9rem; }
    
    .projects__card {
        margin: 2.4rem 0;
    }

    textarea,
    .form__input {
        width: 80%;
        margin-left: 10%;
    }

    .form .btn {
        width: 25%;
        margin-left: 37.5%;
    }
    
}

@media all and (max-width: 425px) {

    .container { margin: 0 4%; }

    .navigation .navigation__background {
        right: 2.3rem;
    }

    .navigation .navigation__btn {
        right: 1.8rem;
    }

    .header { height: 85vh;}
    
    .header__container { margin-top: 12rem; }

    .projects__container { place-content: center; }
}

@media all and (max-width: 375px) {

    .btn,
    .btn:link,
    .btn:visited { width: 85%; }

    .header__text-small { font-size: 1.6rem; }
    
    .header__text-big { font-size: 3.6rem; }

    .projects__card {
        width: 27rem;
        height: 32rem;
    }

    textarea,
    .form__input {
        width: 95%;
        margin-left: 2.5%;
    }

    .form .btn {
        width: 40%;
        margin-left: 30%;
    }
}

